{% extends 'base.html.twig' %}
{% form_theme formContact 'bootstrap_4_layout.html.twig' %}

{% block title %}
{% endblock %}
{% block body %}

    <div class="contact">
    {{ form_start(formContact) }}
    {{ form_row(formContact.nom, {'attr': {'placeholder': "dupond"}}) }}
    {{ form_row(formContact.mail, {'attr': {'placeholder': "dupond@gmail.com"}}) }}
    {{ form_row(formContact.message, {'attr': {'placeholder': "taper votre message"}}) }}
    <button type="submit" class="btn btn-success">Envoyer</button>

    {{ form_end(formContact) }}
    </div>


{% endblock %}



